body {
  background-color: hsl(212, 45%, 89%);
}

.design {
  background-color: hsl(0, 0%, 100%);
  width: 320px;
  height: 500px;
  margin-top: 150px;
  margin-left: 30em;
  border-radius: 10px;
}
.image-qr-code {
  width: 280px;
  height: 250px;
  margin-top: 20px;
  margin-left: 22px;
  border-radius: 10px;
}
h3 {
  font-size: 25px;
  text-align: center;
  color: hsl(218, 44%, 22%);

  margin-left: 10px;
  margin-right: 10px;
}
p {
  text-align: center;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
  color: hsl(220, 15%, 55%);
}
